@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f8fafc;
  --foreground: #0f172a;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer components {
  .glass-panel {
    @apply bg-white/70 backdrop-blur-md border border-white/20 shadow-glass rounded-2xl;
  }
}

.leaflet-container {
  z-index: 1;
}
